.itemDetails-title {
    text-align: center;
    color: #2d3436;
}
.itemDetails-container {
    display: block;    
    gap: 85px;    
}

.btn-item{
    font-size: larger;
    background-color: #2d3436;
    color: #fff;
    border: none;
}
.btn-item:hover {
    background-color: #11999e;
}



/* make items responsive */
@media only screen and (max-width:576px) {
    .itemDetails-container{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (min-width: 577px) and (max-width: 992px) {
    .itemDetails-container{
        grid-template-columns: repeat(2, 1fr);
    }
    
}