#testimonials {
    background-color: #3e494d;
}

.testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #3e494d;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Montserrat-bold";
}

p {
    color: #8f8f8f;
}