.items-row {
    width: 80%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

.items-row p{
    margin:0;
}

.items-img {
    width: 25%;
    height: 50%;
    float: left;
    margin-right: 30px;
}

.btn-update {
    background: #3e494d;
    border: none;
    border-radius: 5px;
    color: #fff;    
}

.btn-update .btn-set {
    margin: 0;
}

.btn-update:hover {
    background-color: #11999e;
}