/* containers */

.container-fluid {
  padding-left: 8%;
  padding-bottom: 8%;
}

#title {
  text-align: left;
  padding-left: 9%;
}

.colored {
  background-color: #2d3436;
  color: #fff;
}

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */

.title-image {
  width: 30%;
  transform: rotate(25deg);
  position: absolute;
  right: 10%;

}